@use "../node_modules/bootstrap/scss/bootstrap" with (
    $body-bg: #eeead7,
    $primary: black,
    $secondary: #eeead7,
);
//$primary: #B7990D,

// Update the import directory to point to it's location within node_modules
$bootstrap-icons-font-dir: "../node_modules/bootstrap-icons/font/fonts";

// Import the Sass files as usual
@import "bootstrap-icons/font/bootstrap-icons";