h1, h2, h3, a, p, .nav-link {
    color: var(--bs-primary);
}

.nav-link {
    text-align: center;
}

.nav-link:hover {
    color:chartreuse;
}

.navbar-nav .nav-link.active {
    color:black;
}

.navbar-toggler {
    color: var(--bs-primary);
}

.navbar-toggler-icon {
    color: var(--bs-primary);
}

.bd-footer {
    position:relative;
    bottom: 0;
    background-color: var(--bs-primary);
}

@media (min-width:575px) {
    .card-body {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}